# Numerous always-ignore extensions.
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders.
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM & Bower.
npm-debug.log
node_modules/
bower_components/
